*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-top{
    background-color: #a2d2ff;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    padding: 8px;
}

.table-top button{
    width: 128px;
    height: 128px;
    border: none;
    border-radius: 4px;
    font-size: 64px;
    font-weight: 600;
    transition: 0.1s ease;
}

.table-top button:hover{
    cursor: pointer;
    background-color: #dddddf;
    scale: 1.025;
}

.table-top button:active{
    scale: 1;
}